<h1>User List:</h1>
<br/>
<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.first_name.label(class="form-label") }}

    {{ form.first_name(class="form-control") }}
    <br/>

    {{ form.last_name.label(class="form-label") }}

    {{ form.last_name(class="form-control") }}
    <br/>

    {{ form.age.label(class="form-label") }}

    {{ form.age(class="form-control") }}
    <br/>

    {{ form.submit(class="btn btn-secondary") }}


</form>
<br/><br/><br/>
<table class="table table-hover table-bordered table-striped">

{% for our_profile in our_profiles %}
<tr>
<td>{{ our_profile.frist_name }}</td>
</tr>
{% endfor %}

</table>
